<!DOCTYPE html>
<head>
    <%- include('./partials/head'); %>
    <script>
        const checker = ()=>{
            if(window.confirm("Are you sure you want to delete this device?")){
                document.getElementById("delete_device").submit();
            }else{
                return;
            }
        }
    </script>
</head>

<body class="has-navbar-fixed-top">
    <%- include('./partials/header'); %>

    <main>
        <h1 class="is-size-1 has-text-centered">Which device would you like to delete?</h1>

        <div class="columns mt-4">
            <div class="column"></div>
            <div class="column is-four-fifths box">
                <div class="block">
                    <form method="POST" action="/device-deleted" id="delete_device">
                            <% if(devices != undefined || devices != null){ %>
                                <div class="field">
                                <label for="devices" class="is-size-5">Select a device</label>
                                <br>
                                <select name="devices" class="select is-medium">
                                    <option value=""></option>
                                    <% devices.forEach((device)=>{ %>
                                        <option value="<%= device.deviceId %>"><%= device.deviceName %></option>
                                    <% }) %>    
                                </select>
                                </div>
                                <div id="submit" class="field">
                                    <button type="button" form="delete_device" onclick="checker()" class="button is-danger">
                                        Delete
                                    </button>
                                </div>

                            <% }else{ %>
                                    <p>You haven't added any devices to the DNW Smart Home Control Panel</p>
                            <% } %>
                    </form>
                </div>
            </div>
            <div class="column"></div>
        </div>

    </main>

    <%- include('./partials/footer'); %>

</body>