<!DOCTYPE html>
<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <h1>Welcome to the New Device Page</h1>
        <p>These are the devices that are already registered:</p>
        <ul>
            <% if(devices != undefined || devices != null){
                devices.forEach((device) => { %>
                <li>
                    <p>Name: <%= device.deviceName %></p>
                    <p>Id: <%= device.deviceId %></p>
                </li>
            <% })}; %>
        </ul>
        <h2>Add a device</h2>
        <form>
            <label for="name">Give your device a name</label>
            <input type="text" id="name" name="name">
            <% if(types != undefined || types != null){ %>
                <label for="type">Select the type of device</label>
                <select id="type" name="type">
                    <% types.forEach((type) => { %>
                        <option value="{<%= type.typeName %>}"><%= type.typeName %></option>
            <% })}else{ %>
                <p>There was a problem. Please reload the page.</p>
            <% } %>
            </select>
        </form>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>