<!DOCTYPE html>
<head>
    <%- include('./partials/head'); %>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <h1>Welcome to the New Device Page</h1>
        <p>These are the devices that are already registered:</p>
        <ul>
            <% if(devices != undefined || devices != null){
                devices.forEach((device) => { %>
                <li>
                    <p>Name: <%= device.deviceName %></p>
                    <p>Id: <%= device.deviceId %></p>
                </li>
            <% })}; %>
        </ul>
        <h2>Add a device</h2>
        <form>

        </form>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>