<!DOCTYPE html>
<head>
    <%- include('./partials/head'); %>
</head>

<body class="has-navbar-fixed-top">
    <%- include('./partials/header'); %>

    <main>
        <h1 class="is-size-1 has-text-centered">Which device would you like to view?</h1>

        <div class="columns mt-4">
            <div class="column"></div>
            <div class="column is-four-fifths box">
                <div class="block">
                    <form method="GET" action="/device-status">
                        <div id="device_selector">
                            <% if(devices != undefined || devices != null){ %>
                                <label for="devices">Select a device</label>
                                <select name="devices">
                                    <option value=""></option>
                                    <% devices.forEach((device)=>{ %>
                                        <option value="<%= device.deviceId %>"><%= device.deviceName %></option>
                                    <% }) %>    
                                </select>
                                <div id="submit">
                                    <input type="submit" value="Ok">
                                </div>

                            <% }else{ %>
                                    <p>You haven't added any devices to the DNW Smart Home Control Panel</p>
                            <% } %>
                        </div>
                    </form>
                </div>
            </div>
            <div class="column"></div>
        </div>

    </main>

    <%- include('./partials/footer'); %>

</body>